body, html {
    height: 100%;
    background-color:lightgray;
    overflow-x:hidden;
}
#cy {
    height:100%;
    width:100%;
    
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.container{
    background-color:#444
}
.no-margin{
    margin:0px !important;
}
.height-100{
    height:100%;
}

#settings{
    padding:5px;
    position:fixed;
    width:100%;
    overflow-y:auto;
    background-color:azure;
    height:40%;
    top:60%;
    z-index:9999;
}


#buttons{
    position:fixed;
    top: 2%;
    left:2%;
    z-index:9999;
}
.irs-single , .irs-max,.irs-min{
    font-size: 14px;
}
.matrix input, input[type="text"] {
    width: 25px;
    height: 25px;
    margin-right:1px;
}